*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
databata-engine/src/main/resources/databata.properties
databata-console/src/main/resources/databata.properties
databata-console/src/main/resources/databata.properties
gradle.properties
.gradle

#build
databata-engine/build
databata-engine/bin
databata-console/build
databata-console/bin

.project
databata-console/.project
databata-engine/.project
databata-examples/.project
databata-plugins/.project

databata-console-web/node_modules
databata-console-web/vendor_lib
databata-console-web/personal.config.js
databata-console-web/build
databata-console-web/.idea
databata-console/.classpath
databata-engine/.classpath
databata-examples/.classpath
databata-plugins/.classpath

bin
.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
databata-console/.settings/org.eclipse.jdt.core.prefs
databata-examples/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
databata-examples/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
databata-examples/databata.properties
databata-plugins/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
databata-plugins/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
