*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
databata-engine/src/main/resources/databata.properties
gradle.properties
.gradle

#build
databata-engine/build
databata-engine/bin
databata-console/build
databata-console/bin

databata-console-web/node_modules
databata-console-web/vendor_lib
databata-console-web/personal.config.js
databata-console-web/build
databata-console-web/.idea
