@import "../../vendor_lib/fontawesome/less/font-awesome.less";
@fa-font-path: "/assets/fonts";

@base-url: "../../vendor_lib/bootstrap/less/";
@import "@{base-url}variables.less";
@img-path: "/assets/img/";
@import "variables.less";
@icon-font-path: "/assets/fonts";

@import "@{base-url}mixins.less";
@import "@{base-url}normalize.less";
@import "@{base-url}print.less";
@import "@{base-url}scaffolding.less";
@import "@{base-url}type.less";
@import "@{base-url}code.less";
@import "@{base-url}grid.less";
@import "@{base-url}tables.less";
@import "@{base-url}forms.less";
@import "@{base-url}buttons.less";
@import "@{base-url}component-animations.less";
@import "@{base-url}glyphicons.less";
@import "@{base-url}dropdowns.less";
@import "@{base-url}button-groups.less";
@import "@{base-url}input-groups.less";
@import "@{base-url}navs.less";
@import "@{base-url}navbar.less";
@import "@{base-url}breadcrumbs.less";
@import "@{base-url}pagination.less";
@import "@{base-url}pager.less";
@import "@{base-url}labels.less";
@import "@{base-url}badges.less";
@import "@{base-url}jumbotron.less";
@import "@{base-url}thumbnails.less";
@import "@{base-url}alerts.less";
@import "@{base-url}progress-bars.less";
@import "@{base-url}media.less";
@import "@{base-url}list-group.less";
@import "@{base-url}panels.less";
@import "@{base-url}wells.less";
@import "@{base-url}close.less";
@import "@{base-url}modals.less";
@import "@{base-url}tooltip.less";
@import "@{base-url}popovers.less";
@import "@{base-url}carousel.less";
@import "@{base-url}utilities.less";
@import "@{base-url}responsive-utilities.less";

@import (less) "../../vendor_lib/highlightjs/styles/obsidian.css";

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.log {
  margin: 0;
  border: 0;
  border-radius: 0;
  code {
    font-family: monospace !important;
    display: block !important;
    .label {
      margin-right: 3px;
    }
    &:hover {
      background-color: @gray;
    }
  }
}

.nav-module {
  position: relative;
  left: -35px;
}

.sub {
  vertical-align: sub;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr10 {
  margin-right: 10px;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.click {
  cursor:pointer;
}

body {
  padding-top: 80px;
}

footer {
  padding-top: 30px;
  padding-bottom: 40px;
}

.title {
  font-size: 42px;
}

.btn-module {
  margin: 0 5px 10px;
}

.search_input {
  position: relative;
  input {
    padding-right: 30px;
  }
  i {
    position: absolute;
    right: 0px;
    padding: 12px 12px;
    color: @gray;
  }
}

@log_color: #007f5e;
.log_title {
  color: darken(@log_color, 10%);
  &.active {
    color: @log_color;
  }
}
.section_log {
  background-color: @log_color
}

@history_color: #be780a;
.history_title {
  color: darken(@history_color, 20%);
  &.active {
    color: @history_color;
  }
}
.history_table {
  thead {
    th a {
      color: @history_color;
      &:hover {
        text-decoration: none;
      }
    }
    background-color: @body-bg;
  }
  background-color: darken(@history_color, 20%);
}

@object_color: #2077b2;
.object_title {
  color: darken(@object_color, 20%);
  &.active {
    color: @object_color;
  }
}
.object_table {
  thead {
    th a {
      color: @object_color;
      &:hover {
        text-decoration: none;
      }
    }
    background-color: @body-bg;
  }
  background-color: darken(@object_color, 20%);
}